<!-- <div>
  <h1>My  TOPsearchs</h1>
  <hr>
  <img src="proxy_form.gif" alt="">
  <ul>
    <li *ngFor='let topsearch of topsearchs'>
      {{topsearch.name}}
      <form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
    </li>
  </ul>
  <p *ngIf='topsearchs.length > 5'>You have too many topsearch</p>
  
</div>
 -->
 <div style="margin: 20px">
  <div class="card">
      <div class="card-body">
          <form class="form-inline">
              <input type="text" class="form-control mr-10" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm">
              <button type="submit" class="btn btn-dark" (click)="search()">Search</button>
          </form>
      </div>
  </div>
</div>